<%- include('partials/header') %>

    <main>
        <h1>Service Project Categories</h1>

        <p><a href="/new-category">Add New Category</a></p>

        <% if (categories && categories.length> 0) { %>
            <ul>
                <% categories.forEach(category=> { %>
                    <li>
                        <a href="/category/<%= category.category_id %>">
                            <%= category.name %>
                        </a>
                        - <a href="/edit-category/<%= category.category_id %>">Edit</a>
                    </li>
                    <% }) %>
            </ul>
            <% } else { %>
                <p>No categories are currently available.</p>
                <% } %>
    </main>

    <%- include('partials/footer') %>